* {
    margin: 0;
    padding: 0;
  }
  
  body {
    background-image:linear-gradient(to right,red,orange);
  }
  
  .container {
    background: rgb(177, 171, 171);
    height: 500px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    padding: 20px;
    color: white;
    font-weight: 20;
    border-radius: 12px;
  }
  
  .img {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    mix-blend-mode: darken;
  }
  
  .in {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    background-color:#292850;
    border-radius: 20px;

  }
  
  input[type="text"] {
    height: 35px;
    width: 320px;
    border-radius: 20px;
    text-align: left;
    background-color:#292850;
    color: white;
    border:none;
    padding-left:10px;
  }
  
  

  input[type="text"]:focus {
    outline:none;
  }
  button {
    height: 30px;
    width: 60px;
    border-radius:20px;
    background-color: rgb(231, 48, 48);
    color: white;
    border:none;
  }
  
  .list {
    border-top: 1px solid #292850;
    text-align: left;
    padding: 1px;
  }
  
  ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 10px;
    padding-top: 5px;
  }
  
  li {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center; 
    height:40px;
    background-color: #292850;
    border-radius: 12px;
    padding-left: 10px;

  }
  
  li input[type="checkbox"] {
    margin-right: 10px;
    clip-path:circle(46% at 50% 50%);
  }
  li input[type='checkbox']:checked {
     text-decoration: line-through;
}
  
